<div class="mt-4">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Từ khóa</label>
            <input type="text" id="search-input"  name="q" class="form-control" placeholder="Nhập từ khóa để tìm kiếm!">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>